@import "fonts"
@import "libs"
@import "vars"

*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.head
	height: 256px
	margin-bottom: $distanse
	table
		height: 256px
		width: 100%
		td:first-child
			width: 200px
	//margin-top: 25px

.title
	color: $white
	h1
		font-size: 50px
		margin: 0
		line-height: 50px
	p
		font-size: 12px
		margin: 0

.image
	height: 168px
	transition: 0.5s

.image:hover
	transform: translate(0px,-5px)
	transition: 0.5s
	will-change: transform

.block
	display: inline-block



.info
	color: $white
	text-align: right
	.info_part
		border-right: 3px solid $white
		margin: 3px 5px
		padding-right: 5px
		transition: 1s
		p
			cursor: default
			display: inline
		img
			height: 24px
			margin: 2px
	.info_part:hover
		border-right: 13px solid $white
		transition: 0.3s
	a
		color: $white
		transition: 0.5s
	a,p
		font-size: 14px
		margin: 0

.content
	flex: 1 0 auto
	margin-bottom: $distanse
	padding-bottom: 100px
	.feature
		margin-top: 100px
		text-align: center
		vertical-align: middle
		p
			color: $white


.background
	background-color: $blue
	box-shadow: $materialShadow

.links
	padding: 25px 0
	margin-bottom: $distanse
	.link
		text-align: center
		vertical-align: middle
		table
			display: block
			text-align: center
		a
			font-size: 20px
			color: $blue
			text-decoration: none
			font-weight: bold
		a:hover
			text-decoration: none
		img
			height: 24px
			margin: 2px 2px 2px 10px
			//padding-right: 10px
		background-color: $white
		cursor: pointer
		user-select: none
		padding: 10px
		border-radius: 3px
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  	transition: 0.5s
	.link:hover
		transform: translate(0px,-2px)
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		transition: 0.5s
	.link:active
		transform: translate(0px, 2px)
		box-shadow: none
		transition: 0.2s

.footer
	height: 30px
	bottom: 0
	flex: 0 0 auto
	text-align: center
	padding-top: 5px
	p
		color: $white
		font-size: 12px

.wrapper
	display: flex
	flex-direction: column
	height: 100%

.content2
	padding: 50px 0
	margin-bottom: $distanse
	.text
		margin-bottom: 25px
		p
			color: $white
			text-align: center
			font-size: 24px
			margin-bottom: 20px
	.features
		border-top: 2px solid $white
		text-align: center
		padding-top: 20px
		color: $white
		p
			margin-bottom: 20px


@import "media" // Всегда в конце
